@import "tailwindcss";

@font-face {
  font-family: "Gothic_OT";
  src: url("public/assets/fonts/Gothic_OT.otf");
}

body {
  background-image: url("public/assets/ui_assets/dark_forest.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: Gothic_OT;
}
